<!-- Usando um componentes(tags) da biblioteca do primeNg 4. Referencia: https://www.primefaces.org/primeng-4.3.0/#

   <div class="ui-g">      -> Representa um componente grid do primeNg 4.
   <div class="ui-g-12">   -> Representa um item grid do primeNg 4 com 12 colunas de espacamento.
   <nav>                   -> Barra de navegacao
   <i>                     -> tag html para icone

-->

<nav class="navbar">

    <div class="container">



      <div class="ui-g">

        <div class="ui-g-12">

          <!--
            fa                      = fomt-awesome
            fa-bars                 = Icone das barrinhas
          -->
          <a class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </a>

        </div>

      </div>




    </div>


  </nav>
