/* padding -> Espacamento interno do elemento.
   - 10px em cima e em baixo
   - 0px na esquerda e na direita */
.navbar {
  padding: 10px 0;
  background-color: #1e94d2;
}

/* Cor do icone de tres barrinhas da barra de navegacao. */
.navbar-toggle {
  color: #fff;
}

/* Aparencia do menu de opcoes da barra de navegacao. */
.navbar-menu {
  position: fixed; /*Essa propriedade deixar meu elemento fixo em um mesmo lugar, ai se as opcoes a quantidade de opoes da barra de opcoes execer o tamanho da pagina, vai aparecer uma barrinha para poder scrolar o menu de opcoes.*/
  top: 0;          /*Enconstar no teto da tela.*/
  bottom: 0;       /*Enconstar no rodape da tela.*/
  right: 0;        /*Enconstar no lado direto da pagina.*/
  width: 210px;    /*Largura.*/
  margin: 0;       /*Margem externa.*/
  padding: 0;      /*Margem interna.*/
  z-index: 9998;   /*Defini a prioridade que o elemento vai aparecer na frente do outro. Ai coloco um valor inteiro para definir a prioridade de quem aparece na frente de quem. Quanto mais alto o numero, mais prioridade o elemente tem para aparecer na frente. */
  background-color: #3a3633;
  list-style: none; /*Estilo da lista. Lista com bolinhas, quadradinhos, etc.*/
}

.navbar-usuario {
  padding: 15px;              /*Margem interna.*/
  margin-bottom: 15px;        /*Margem externa.*/
  border-bottom: 1px solid #525151;
  text-transform: uppercase; /*Todas as letras em maisculo.*/
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;  /*Margem interna.*/
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none; /*Tirar sublinhado dos links.*/
}

.navbar-menuitem a:hover { /*Ao passar o mouse sobre o item. */
  color: #fff;
}
